body {
    font-size              : 65%;
    font-family            : Verdana, Geneva, sans-serif;
    background-color       : #00b609;
    padding                : 0;
    margin                 : 0;
}

a,
a:visited {
    color: #222;
    text-decoration: none;
}

a:hover {
    color: #FFF;
    columns: #888;
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

div.clear { 
    clear:both;
    font-size: 1%;
}

/*Headers*/
.navbar{
    background-color: #07D5d5 !important;
}
.navbar-toggler:focus, .navbar-toggler:hover{
    background-color: #07D5d5 !important;
    border:0;
}
.navbar-light .navbar-toggler {
    color: #07D5d5;
    border:0;
}
header {
    background: #07D5D5   no-repeat;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-bottom: 10px;
}

header h1 {
    font-family   : Verdana, Geneva, sans-serif;
    color         : #000;
    font-size     : 7.5em;
    letter-spacing: -0.025em;
    text-shadow   : 4px 4px 5px #24a0a0 ;
                    /* offset-x | offset-y | blur-radius | color */
}


.page-title{
    text-align: center;
}

.logoIMG{
    
    max-height: 200px
}



.social{
    text-align: right;
}


.cart-icon{
    max-width: 12px;
    margin-left: 4px;
    margin-bottom: 1px;
}

#socialLinks a:hover{
    background-color: #07D5D5;
}
.social-icon{
    max-width: 20px;
}


.content{
    padding-top: 10px;
}


.product{
    background: #C29A55;

    padding-top: 15px;
    padding-bottom: 15px;
    margin: 10px;
    border-radius: 1rem; 
    box-shadow:  4px 8px 2px rgba(0, 0, 0, 0.644), 0 6px 20px 2px rgba(0, 0, 0, 0.19);
}

.product p:hover{
    text
}

.productText{
    display:block;
    margin-left: 10px;
    padding-top: 10px;
}

.product-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}




#categoryLabel{
    font-size: medium;
}


.empty-cart{
    text-align: center;
    /* width:100%; */
    padding-top: 25px;
    padding-bottom: 25px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.644), 0 6px 20px 2px rgba(0, 0, 0, 0.19);
    margin-bottom: 60px;
    margin-top: 60px;
    background-color: yellowgreen;
}
.about-image{
    border: 0;
    border-radius: 10px;
    margin-bottom: 5px;
}
.about-row{
    padding-top: 10px;
    font-size: 14px;
}
.bottom-about-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    max-height: 190px ;
}

.seeMore{
    text-align: center;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    padding: .5rem;
    border-radius: 1rem;
}

.seeMore h2{
    color: black;

}

.seeMore:hover{
    background-color: #029209;
    color: black;
}

.formCenter{
    width: 80%;
    margin: 0 auto 0 auto;
}

.formItem{
    width: 100%;
    border-radius: 4px;
    margin-top: 1rem;
    resize: none;
    padding: 4px;
}

.form{
-ms-box-sizing:content-box;
-moz-box-sizing:content-box;
-webkit-box-sizing:content-box; 
box-sizing:content-box;
}
textarea {
    width: 101% !important;
    border-radius: 4px;
}
button {
    margin-top: 1rem;
    color: black;
    background-color: #FFF;
    display: inline-block;
    padding: 4px;
    border: 1px solid black;
    text-transform: uppercase;
    border-radius: 4px;
    width: 105%;
}
button:hover {
    background-color: #f3f3f3;
    border: 1px solid #745b2f;
}
 
.contact-image{
    max-height: 300px;
    border-radius: 4px;

}
.contact-button{
    max-width: 100px;
}

.contact-list{
    list-style: none;
    font-weight: bold;
    font-size: 20px;
}

footer{
    background-color: #40362F;
    font-size: 1.2em;
    color: #FFF;
    text-align: center;
    margin-top:15px;

}
footer ul#menuFooter{

}
footer ul li {
    display: inline-block;
    margin: 0;
}
footer ul li::before {
    content: "| ";
    padding-right: 0.7em;
}
footer a, footer a:visited {
    color: #fff;
    text-decoration: none;
}
footer a:hover {
    color: #fff;
    text-decoration: underline;
}
