body {
    font-size              : 65%;
    font-family            : Verdana, Geneva, sans-serif;
    background-color       : #00b609;
    padding                : 0;
    margin                 : 0;
}

h1 {
    color    : #000000;
    font-size: 2.0rem;
    margin   : 0.5em 0 0.5em 0;
    padding  : 0;
}

h2 {
    color    : #745B2F;
    font-size: 1rem;
    padding  : 0px;
    margin   : 0.5em 0 0.35em 0;
}

p {
    font-size  : 1.2em;
    line-height: 1.4em;
    color      : #555555;
    padding    : 0px;
    margin     : 0px 0.5em 0.75em 0px;
}

ol {
    font-size: 1.2em;
    margin   : 0 0 0 1.0em;
    padding  : 0 0 0 1.0em;
}

ol li {
    margin : 0;
    padding: 0 0 0.2em;
}

a,
a:visited {
    color: #222;
    text-decoration: none;
}

a:hover {
    color: #FFF;
    columns: #888;
    text-decoration: none;
}

hr {
    padding: 0;
    margin : 1.5em 1.5em 0.75em 0.5em;
}

.select{
    border-radius: 3px;
}

.contentWrapper {
    margin   : 0 auto;
    max-width: 1170px;
    padding  : 0 3.0em;
}

.left {
    float: left;
}

.right {
    float: right;
}

div.clear { 
    clear:both;
    font-size: 1%;
}

/*Headers*/
header {
    padding   : 2.5em 0 0.5em;
    margin    : 0 0 2.0em;
    background: #07D5D5   no-repeat;
    background-origin: content-box;
    background-position: right bottom;
    background-size: container;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

}

header h1 {
    font-family   : Verdana, Geneva, sans-serif;
    color         : #000;
    font-size     : 7.5em;
    letter-spacing: -0.025em;
    margin        : 0;
    text-shadow   : 4px 4px 5px #24a0a0 ;
                    /* offset-x | offset-y | blur-radius | color */
}

header h2 {
    font-weight   : 300;
    font-size     : 3.8em;
    color         : #2Ba967;
    margin        : -0.4em 0 0 1em;
    text-transform: uppercase;
    letter-spacing: .05em;
}
p {
    font-size  : 1.2em;
    line-height: 1.4em;
    color      : #555555;
    padding    : 0px;
    margin     : 0px 0.5em 0.75em 0px;
}

.logoIMG{
    
    height: 10rem;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1rem;
    margin-bottom: -6rem;
}

/*Nav Bars*/
nav {
    display: inline-block;
    top: 10px;
    right: 5px; 
    color         : #000;
    font-size     : 1.7em;
    letter-spacing: 0.04em;
    padding       : 1.0em 1.0em 0.5em;
    margin        : 1.0em 0;
    text-align: right;
    background-color: rgba(255, 255, 0, 0.822);
    position: fixed;
    border-radius: 6px;
    padding-top: .5rem;
    padding-bottom: .5rem;
    box-shadow:  1px 2px 5px rgba(0, 0, 0, 0.644), 0 6px 20px 2px rgba(0, 0, 0, 0.19);
}

nav ul {
    margin    : 0;
    padding   : 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin : 0;
}

nav li a,
nav li a:visited {
    text-decoration: none;
    color          : #c64322;
    padding        : 0.3em 0.6em;
}

nav li a:hover {
    color           : #F00;
}
.cartIcon{
    width: 1.25rem;
    position: inherit;
    margin-bottom: -.20rem;
}
h2{
 
}

.socialIcon{
    height: 1rem;
    width: 1rem;
    list-style: none;
}
nav#socialLinks{
    float: right;
    margin: -2.5em 5px 0 0;
    padding: .35em;
    background-color:#0000004d;
    height: 1.3em;
    position: inherit;
    
}
nav#socialLink li{
    padding: 0 0.25em 0 0.2em;
    vertical-align: middle;
}


.cartEmpty{
    position: relative;
    margin: 0 auto 2rem auto;
    width: 40%;
    height: 10rem;
    text-align: center;
    background: #888888cb;
    
}
.cartEmpty h2{
    color: black;
    display: inline-block;
    vertical-align: middle;
    line-height: 10rem;
}


.productRow {
    /*height: 125px;*/
    text-align: justify;
    border: 10px solid transparent;
   /* font-size: 0.1px; /* IE 9/10 don't like font-size: 0; */ 
    min-width: 600px;
    
  }
  .productRow div {
    width: 150px;
    /* height: 125px; */
    display: inline-block;
    background: #C29A55;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;   
    border-radius: 1rem; 
    box-shadow:  4px 8px 2px rgba(0, 0, 0, 0.644), 0 6px 20px 2px rgba(0, 0, 0, 0.19);
}
  .productRow:after {
    content: '';
    width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
    display: inline-block;
  }
  .shopItem{
   
    width: 8rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    border-radius: 1rem;
}
.item{
    padding: 1rem;
}
.itemPrice{
    font-size: 1rem;
}


section div.item{
    float: left;
    position: relative;
    width: 250px;
    margin: 0 0.5em 2em 0.5em;
    padding: 1.0em;
    background-color: #FFF;
    border: 0 #CCC solid 1px;
    border-radius: .6rem;
}


.seeMore{
    text-align: center;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    border-radius: 1px;
}
.seeMore h2:hover,
.seeMore:hover{
    background-color: #caa29860;
    color: black;
}

.aboutOne{
    display: flex; 
    align-items: center;
    vertical-align: middle;
    padding: 1rem;
}

.aboutOne img{
    width: 30rem;
    border: 2rem transparent;
    border-radius: 2rem;
    margin-left: 3rem;
}
.centerImage{
    display: block;
    width: 75%;
    margin: 2rem auto 4rem auto;
    position: relative;
    /*border: 1rem solid transparent;*/
    border-radius: 2rem;
    
}

.aboutCenter{
    width: 90%;
    margin: 0 auto 0 auto;
    font-size: .75rem;
}
.aboutCenter img{
    /*
    box-shadow: 4px 4px 8px;*/
    box-shadow:  4px 8px 2px rgba(0, 0, 0, 0.644), 0 6px 20px 2px rgba(0, 0, 0, 0.19);
}
.aboutTwo{
    display: flex; 
    align-items: center;
    padding: 1rem;
}

.aboutTwo img{
    width: 25rem;
    border: 2rem transparent;
    border-radius: 2rem;
    margin-right: 3rem;
}

.contactWrapper{
    position: relative;
    margin: 0 auto 4rem auto;
    width: 80%;
    margin-bottom: 4rem;
}

.signupForm{
    width: 40%;
    background: #C29A55;
    box-shadow:  4px 8px 2px rgba(0, 0, 0, 0.644), 0 6px 20px 2px rgba(0, 0, 0, 0.19);
    margin: auto;
    position: relative;
}

.formItem{
    position: block;
    margin: 0 auto 0 auto;
    width: 90%;
}


footer{
    background-color: #40362F;
    height: 25px;
    font-size: 1.2em;
    color: #FFF;
    text-align: center;
    padding: 1.5em 2.0em;

}
footer ul#menuFooter{
    display: inline-block;
    list-style: none;
    margin: 0 0 0 0.6em;
    padding: 0;
}
footer ul li {
    display: inline-block;
    padding: 0 0.7em 0 0;
    margin: 0;
}
footer ul li::before {
    content: "| ";
    padding-right: 0.7em;
}
footer a, footer a:visited {
    color: #fff;
    text-decoration: none;
}
footer a:hover {
    color: #fff;
    text-decoration: underline;
}
button {
    color: #C64322;
    background-color: #FFF;
    display: inline-block;
    margin: 0 0.75em 0 0;
    padding: 0.2em 0.5em;
    border: 1px solid #C64322;
    text-transform: uppercase;
}
button:hover {
    background-color: #FBF3DB;
    border: 1px solid #745b2f;
}